<div class="container">
  <table class="responsive-table striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Contato</th>
      <th>URL</th>
      <th>Data de Acesso</th>
    </tr>
    </thead>

    <tbody>
    <% @accesses.each do |access| %>
        <tr>
          <th><%= access.id %></th>
          <th><%= access.contact_id %></th>
          <th><%= access.url %></th>
          <th><%= access.created_at %></th>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>